@namespace Belin.Base.UI

<aside class="action-bar">
	<div class="container-fluid d-flex align-items-center justify-content-between">
		@Slot
	</div>
</aside>

@code {
	// The child content.
	[Parameter]
	public required RenderFragment Slot { get; set; }
}
