@namespace Belin.Base.UI.Components
@* An action bar located under the navigation bar. *@

<aside class="action-bar">
	<div class="container-fluid d-flex align-items-center justify-content-between">
		@ChildContent
	</div>
</aside>

@code {
	/// <summary>
	/// The child content.
	/// </summary>
	[Parameter]
	public RenderFragment? ChildContent { get; set; }
}
