@namespace Belin.Base.UI.Components

<div class="alert alert-@Variant.ToCss() @(Dismissible ? "alert-dismissible" : string.Empty) @(Fade ? "fade show" : string.Empty)">
	@ChildContent
	@if (Dismissible) { <button class="btn-close" data-bs-dismiss="alert" type="button"></button> }
</div>

@code {
	/// <summary>
	/// The child content.
	/// </summary>
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	/// <summary>
	/// Value indicating whether this alert can be dismissed.
	/// </summary>
	[Parameter]
	public bool Dismissible { get; set; }

	/// <summary>
	/// Value indicating whether to apply a transition.
	/// </summary>
	[Parameter]
	public bool Fade { get; set; }

	/// <summary>
	/// The tone variant.
	/// </summary>
	[Parameter]
	public Variant Variant { get; set; }
}
